/* --------------GENERAL!!!!---------------- */
/* --------------GENERAL!!!!---------------- */
:root {
  --main-color: #434455;
  --title-color: #2e2f42;
  --blue-color: #4d5ae5;
  --customers-icon: #8e8f99;
  --btn-second-color: #404bbf;
  --btn-text-color: #f4f4fd;
}

body {
  font-family: "roboto", sans-serif;
  color: var(--main-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
.flex {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.sections {
  padding-top: 120px;
  padding-bottom: 120px;
}
.item-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.item-title {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 72px;
}
/* -----------------LOGO------------------ */
/* -----------------LOGO------------------ */
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--blue-color);
}
.logo-black-studio {
  color: var(--title-color);
}

.footer-logo-white {
  color: #f4f4fd;
}

/* --------------HEADER---------------- */
/* --------------HEADER---------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 76px;
}
.header-list .nav-item + .nav-item {
  margin-left: 40px;
}

.header-link {
  color: var(--title-color);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  gap: 40px;
}
.auth-nav-list {
  gap: 40px;
}
.auth-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: #404bbf;
}

/* --------------studio(main page)---------------- */
/* --------------studio(main page)---------------- */
/* --------------HERO---------------- */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--title-color);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-title {
  max-width: 530px;
  margin: 0 auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  display: inline-block;
  min-width: 170px;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  border-color: transparent;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* --------------Features---------------- */
/* --------------Features---------------- */

.features-img-box {
  background: #f4f4fd;
  border-radius: 4px;
  display: flex;
  padding: 24px 0px;
  height: 122px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-list .features-item {
  width: calc((100% - 3 * 24px) / 4);
}

.features-item {
  background-color: #ffffff;
}

/* --------------Benefits---------------- */
/* --------------Benefits---------------- */
.benefits-box {
}
.benefits-tittle {
}

.benefits-list {
  gap: 24px;
}
.benefits-item {
  background-color: #ffffff;
}
.benefist-list .benefits-item {
  width: calc((100% - 2 * 24px) / 3);
}

/* --------------our Team---------------- */
/* --------------our Team---------------- */

.team-soc-wrap {
}

.team-soc-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  padding: 4px 0;
}
.team-soc-item {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--blue-color);
  justify-content: center;
  display: flex;
  align-items: center;
}
.team-soc-item:hover,
.team-soc-item:focus {
  background-color: var(--btn-second-color);
}

.team-soc-link {
  background-color: var(--blue-color);
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.icon-soc-link {
  fill: var(--btn-text-color);
}

.team-soc-icon {
}
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.team-box {
  text-align: center;
}

.team-title {
}

.team-list {
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
}

.team-item-box {
  border: 1px solid #e7e9fc;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  padding: 32px 16px;
  text-align: center;
}

/* --------------CUSTOMERS---------------- */
/* --------------CUSTOMERS---------------- */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.box-customers {
}
.customers-title {
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 24px * 5) / 6);
  height: 88px;
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--customers-icon);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--customers-icon);
}
.customer-link:hover,
.customer-link:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

/* --------------PORTFOLIO---------------- */
/* --------------PORTFOLIO---------------- */
/* --------------PORTFOLIO---------------- */

/* --------------BTN_FILTER---------------- */
/* --------------BTN_FILTER---------------- */
.btn {
  padding: 12px 24px;
  min-width: 69px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: #4d5ae5;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-list {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
/* --------------HERO---------------- */
/* --------------HERO---------------- */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.main-item {
  cursor: pointer;
}
.main-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.text-box {
  display: block;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

/* --------------FOOTER---------------- */
/* --------------FOOTER---------------- */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--title-color);
}
.footer-text {
  color: #e7e9fc;
  margin-top: 16px;
}
.footer-soc-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-box {
  display: flex;
  gap: 120px;
  align-items: baseline;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-icon {
  fill: var(--btn-text-color);
}
.footer-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;
}

.footer-link:hover,
.footer-link:focus {
  background: #31d0aa;
}
